@model medical_appointment_scheduling_project.Models.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> Đăng nhập </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/asset/image/logo/cropped-tci-favicon-180x180.png" rel="icon">
    <link href="~/asset/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/asset/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/asset/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/asset/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/asset/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/asset/css/style.css" rel="stylesheet">

</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="/" class="logo d-flex align-items-center w-auto">
                                    @*<img src="~/asset/img/logo.png" alt="">

                                        <span class="d-none d-lg-block">NiceAdmin</span>*@
                                    <img src="~/asset/image/logo/logo.png" />
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-2 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Đăng nhập </h5>
                                        <p class="text-center small">Nhập tên đăng đăng nhập và mật khẩu</p>
                                    </div>

                                    <form id="loginForm" action="/auth/registers" method="post" class="row g-3">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <div class="d-flex gap-3">

                                            <div class="col-6">
                                                <div class="col-12">
                                                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                                                </div>
                                                <div class="col-12">
                                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-12">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "hidden",value="null" } })
                                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                            <div class="col-6">
                                                <div class="col-12">
                                                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-12">
                                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                        {
                                            <div class="text-danger">
                                                @ViewBag.ErrorMessage
                                            </div>
                                        }

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" id="loginButton" type="submit">Đăng nhập</button>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check">
                                                <a href="/Auth">Đăng nhập</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/asset/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/asset/vendor/chart.js/chart.umd.js"></script>
    <script src="~/asset/vendor/echarts/echarts.min.js"></script>
    <script src="~/asset/vendor/quill/quill.min.js"></script>
    <script src="~/asset/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/asset/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/asset/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/asset/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script src="~/asset/jquery-validation/jquery.validate-vsdoc.js"></script>
    <script src="~/asset/jquery-validation/jquery.validate.js"></script>
    <script src="~/asset/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/asset/jquery-validation/jquery.validate.unobtrusive.js"></script>
    <script src="~/asset/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>